<a href="https://colab.research.google.com/github/Arathijayaprakash/Python-/blob/master/course_outcome_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 2  diplay future leap year from current year to a final year
 
c=int(input("enter current year: "))
f=int(input("enter final year: "))
for i in range(c,f+1):
  if ( i % 4 == 0 ) and ( i % 100 != 0 ) or ( i % 400 == 0 ):
    print(i)
  i+=1

enter current year: 1900
enter final year: 1920
1904
1908
1912
1916
1920

In [ ]:
# 3  List comprehension 

# a)generate positive list of numbers from a given list of integers

list=[1,-3,5,9,0,-8,2,6,-4]
newlist=[x for x in list if x>0]
print(newlist)

# b)square of N numbers

N=int(input("Enter number of no.s "))
list=[]
for x in range(N):
  x=int(input("enter no."))
  list.append(x)
print(list)
squarelist=[x**2 for x in list]
print(squarelist)

# c)Form a list of vowels selected from a given word

word="umberella"
vowels="aeiou"
list=[x for x in word if x in vowels]
print(list)

# d)List ordinal value of each element of a word

word="flower"
list=[ord(x) for x in word]
print(list)

[1, 5, 9, 2, 6]
Enter number of no.s 3
enter no.3
enter no.4
enter no.5
[3, 4, 5]
[9, 16, 25]
['u', 'e', 'e', 'a']
[102, 108, 111, 119, 101, 114]

In [ ]:
#4 count the occurence of each word in a line of text

text = "it is very very big"
count = dict()
words = text.split()
for i in words:
  if i in count:
    count[i]+=1
  else:
    count[i]=1
print(count)

{'it': 1, 'is': 1, 'very': 2, 'big': 1}

In [ ]:
# 5  prompt the user for a list of integers.for all values greater than 100, store 'over' instead.

list=[]
n=int(input("enter size: "))
for i in range(0,n):
  x=int(input("Enter no."))
  if x>100:
    list.append("over")
  else:
    list.append(x)
print(list)

enter size: 5
Enter no.23
Enter no.100
Enter no.234
Enter no.46
Enter no.456
[23, 100, 'over', 46, 'over']

In [ ]:
#6 store a list of first names.Count the occurence of 'a' within the list

l = input("enter names")
word=l.split()
print(word)
count=0
for i in l:
  if i=="a":
    count+=1
print("The occurence of a is",count)

enter namesarathi aparna amrutha
['arathi', 'aparna', 'amrutha']
The occurence of a is 7

In [ ]:
# 7  enter 2 lists of integers check whether a)the lists are of same length b)sums to same value c)any value occur in both

list1=[1,2,3,4,5]
list2=[5,6,7,8,9]

if len(list1)==len(list2):
  print("the lists are of same length")
else:
  print("not of same length")

sum1=0
for x in list1:
  sum1+=x
sum2=0
for x in list2:
  sum2+=x
if sum1==sum2:
  print("lists sums to same value")
else:
  print("sums not same value")

for x in list1:
 for y in list2:
   if x==y:
     print("value occur in both")
     break

the lists are of same length
sums not same value
value occur in both

In [ ]:
#8 Get a string from an input string where all occurence of first character replaced with '$',except first character.

In [ ]:
#9 Create a string from given string where first and last characters exchanged.

In [ ]:
# 10  accept radius from the user and find the area of the circle.

r=int(input("enter the radius: "))
a = 3.14*r**2
print("area of the circle is",a)

enter the radius: 2
area of the circle is 12.56

In [ ]:
# 11  find biggest of 3 no.s entered

a=float(input("enter a no."))
b=float(input("enter a no."))
c=float(input("enter a no."))
if a>b:
  if a>c:
    print(a,"is biggest")
  else:
    print(c,"is biggest")
else:
  if b<c:
    print(c,"is biggest")
  else:
    print(b,"is biggest")

enter a no.3.12
enter a no.4.678
enter a no.3.112
4.678 is biggest

In [ ]:
# 12  Accept a file name from user and find area of circle.

In [ ]:
# 13  Create a list of colors from comma-seperated color names entered by user. Display first and last colors.

In [ ]:
# 14  Accept an integer n and complete n+nn+nnn

n = int(input("Enter a number: "))
m = n+(n*n)+(n*n*n)
print(m)

Enter a number: 2
14

In [ ]:
# 15  Print out of colors from color-list1 not contained in color-list2.


list1=["red","blue","orange"]
list2=["black","white","red"]
for x in list1:
  for y in list2:
    if x == y:
      list1.remove(x)
print(list1)

['blue', 'orange']

In [ ]:
# 16  Create a single string seperated with space from two strings by swapping the character at position 1.

In [ ]:
# 17  sort dictionary in ascending and descending order.

In [ ]:
# 18 Merge 2 dictionaries.

In [ ]:
# 19  find gcd of 2 numbers

import math

a=int(input("enter a no."))
b=int(input("enter a no."))
gcd=math.gcd(a,b)
print("gcd of 2 no.s is",gcd)

enter a no.60
enter a no.48
gcd of 2 no.s is 12

In [ ]:
# 20  from a list of integers, create a list removing even no.s

list=[0,1,2,3,4,5,6,7,8,9]
for x in list:
  if ( x % 2 == 0 ):
    list.remove(x)
print(list)

[1, 3, 5, 7, 9]